.app {
    width: 100%;
    min-height: 100vh;
    color: var(--text-color);
    background-color: var(--background-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Стили для карточки покемона */
.pokemonCard {
    position: relative;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    transition: 200ms;
    cursor: pointer;
}

.pokemonCard:hover {
    filter: contrast(1.2);
    transform: scale(1.02);
}

.pokemonCard > img {
    width: 150px;
    height: 150px;
}

/* Стили для списка покемонов */
.pokemonList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    padding: 60px 0;
}

/* Стили для кнопки переключения темы */
.themeBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    background: none;
    border: 2px solid var(--text-color);
    color: var(--text-color);
    transition: 200ms;
}

.themeBtn:hover {
    transform: translateY(3px);
}

/* Стили для имени покемона */
.pokemonName {
    font-size: 30px;
    text-align: center;
}

.pokemonName:first-letter {
    text-transform: uppercase;
}

/* Стили для блока с кнопками */
.btnBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}